@charset "utf-8";
@import url(./../style/main/main.css);

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  overflow: hidden;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "pretendard", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  overflow: hidden;

  font-size: 0.8rem;
  font-family: "pretendard", sans-serif;
  overflow-y: auto !important;
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
}

html.open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.471);
  z-index: 10;
  pointer-events: none;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.MenuWrap.open {
  z-index: 20;
}

header,
footer,
main,
section,
article,
nav,
aside {
  display: block;
}

ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 130%;
}

span,
div {
  line-height: 130%;
}

fieldset,
hr {
  display: block;
  margin: 0;
  padding: 0;
  border: 0 none;
}

input,
select {
  max-width: 100%;
  vertical-align: middle;
}

input,
select,
button,
textarea,
optgroup {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

address,
em,
i {
  font-style: normal;
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}

button {
  padding: 0;
  border: 0 none;
  background: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

img {
  max-width: 100%;
  border: 0 none;
  font-size: 0;
  vertical-align: middle;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

section {
  height: 100%;
}

header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background: transparent;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header .HeaderTop {
  height: 100%;
}

.logo {
  text-align: center;
  position: absolute;
  top: 0;
}

.logo img {
  max-width: 100%;
  max-height: 24px;
}

/* 메뉴바 */

.NavWrap {
  padding: 20px 10px;
}

.gnb ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex-wrap: nowrap;
}

.GnbList {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: absolute;
}

.gnb .GnbItm {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}

#profile {
  right: 56px;
  font-size: 25px;
  top: 50%;
  text-align: center;
  margin-top: -15px;
  z-index: 1;
  cursor: pointer;
}

#cart {
  right: 16px;
  font-size: 25px;
  top: 50%;
  text-align: center;
  margin-top: -15px;
  z-index: 1;
  cursor: pointer;
}

.Menubtn {
  font-size: 25px;

  text-align: center;
  margin-top: -15px;
  z-index: 1;
  cursor: pointer;
  left: 0;
}

.MenuWrap {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}
.MenuWrap.open {
  left: 0;
}
.MenuLayout {
  margin: 0 20px 20px;
  height: 100%;
  padding: 10px 0;
  position: relative;
}

.menu {
  width: 100%;
  max-width: 100%;
}
.scroll {
  width: 100%;
  overflow-y: auto;
  height: auto;
  margin-bottom: 0px;
  margin-right: 0px;
  max-height: 909px;
}

.CloseBtn {
  font-size: 20px;
  cursor: pointer;
}
.MenuList {
  line-height: 2.5;
}

.MenuList > a {
  font-size: 14px;
  font-weight: 800;
}
.ShopList ul > li > a {
  font-size: 12px;
  color: #666;
}

.UserLine {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 30px;
}
.UserLine > a {
  font-size: 12px;
  font-weight: 800;
}

.JOIN::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -15px;
  width: 1px;
  height: 10px;
  margin-top: -5px;
  z-index: 1;
  background: #a0a0a0;
}

.MYPAGE {
  display: block;
  padding-bottom: 20px;
}

.hide {
  display: none;
}
/* 메인 */
#wrap {
  width: 100%;
  min-width: 320px;

}

/* 푸터 */

footer {
  width: 100%;
  margin: 0px 0 0 0;
  padding: 0;
  font-size: 13px;
  background: #fafafa;
}

.FooterInner {
  position: relative;
  padding: 50px 0;
  overflow-x: auto;
}

.FooterWrap {
  position: relative;
  width: 1260px;
  margin: 0 auto;
}

.FooterWrap table td {
  vertical-align: top;
  word-break: break-all;
  word-wrap: break-word;
  text-align: left;
  padding: 0 40px;
  border: 0;
}
.FooLogo {
  position: relative;
  font-size: 0;
  line-height: 0;
  text-align: left;
}

.FooLogo img {
  max-width: 100%;
  max-height: 26px;
}

.FSns {
  margin: 50px 0 40px;
}

.FSns > ul {
  font-size: 0;
  line-height: 0;
  text-align: left;
}

.FSns li:first-child {
  margin-left: 0;
}

.FSns li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 20px;
}

.FSns li a i {
  font-size: 32px;
}

.FSns li img {
  width: 32px;
}

.copyright {
  margin: 10px 0;
}

.GuideLine ul {
  font-size: 0;
  line-height: 0;
  text-align: left;
}

.GuideLine > li:first-child {
  margin: 0;
}

.GuideLine > ul > li {
  position: relative;
  display: inline-block;
  margin: 0 0 0 30px;
}
.GuideLine > ul > li:first-child:before {
  display: none;
}
.GuideLine > ul > li:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -15px;
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background: #222;
}
.GuideLine > ul > li > a {
  display: block;
  color: #222;
  font-size: 13px;
  line-height: 1.5em;
}

.FInfo .FTit {
  position: relative;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 30px;
}

.FInfo .call {
  font-size: 26px;
  font-weight: normal;
  color: #222;
  margin: 20px 0px;
}

.FInfo .CallNum {
  margin-right: 8px;
  min-width: 50px;
}

.FInfo p {
  margin: 0 0 8px;
  color: #222;
  font-size: 14px;
}

.FInfo p span {
  margin-right: 8px;
  min-width: 50px;
}

.FInfo li {
  margin: 0 0 8px;
  color: #222;
  font-size: 14px;
  margin-bottom: 16px;
}

/* 모바일버젼 푸터 */

address {
  padding: 30px 20px;
  background: #fafafa;
  color: #222;
  font-size: 12px;
  line-height: 1.2;
  display: none;
}

address .FooLogo_mo {
  margin: 0 0 20px;
}

address .FooLogo_mo img {
  max-height: 20px;
}

.Foo_mo dl dt {
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px 30px 5px 0px;
  text-align: left;
  cursor: pointer;
  font-weight: 700;
}

.Foo_mo dl dt::before {
  content: "\e9c5";
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 1;
  margin-top: -15px;
  font-size: 16px;
  line-height: 30px;
  font-family: "xeicon" !important;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Foo_mo dl dt.on::before {
  content: "\e9c1";
}

.Foo_mo .CS {
  display: table;
  width: 100%;
  line-height: 1.6em;
  display: none;
  padding: 10px;
  font-size: 12px;
  line-height: 1.8;
  color: #222;
}

.Foo_mo .CS .sec {
  display: table-cell;
  width: 50%;
  text-align: left;
  vertical-align: top;
  padding: 0px 0px;
}

.Foo_mo .CS .sec .inner {
  position: relative;
}

.Foo_mo .CS .sec .inner h3 {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: normal;
  color: #686868;
}

.Foo_mo .CS .sec .inner .CsNum {
  font-size: 16px;
  color: #222;
  margin: 0 0 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.Foo_mo .CS .sec .inner .TimeInfo {
  font-size: 12px;
  color: #9b9b9b;
}
.Foo_mo .CS .sec .inner .AccountName {
  font-size: 14px;
  color: #222;
  margin: 0 0 10px;
  font-weight: bold;
  letter-spacing: 0px;
}

.AccountInfo1 {
  margin-right: 8px;
}

.Foo_mo .CS .sec .inner p {
  font-size: 12px;
  color: #9b9b9b;
}

.Foo_mo .CS .sec .inner p span {
  display: inline-block;
}

.Foo_mo dl a {
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 0px;
  text-align: left;
  cursor: pointer;
  display: block;
  font-weight: 700;
}

.Foo_mo dl a span {
  color: #a0a0a0;
}

.Link {
  margin: 20px 0;
}

.Link ul {
  font-size: 0;
  line-height: 0;
}

.Link ul li {
  position: relative;
  display: inline-block;
  margin: 0 20px 0 0;
}

.Link ul li a {
  display: block;
  color: #686868;
  font-size: 12px;
  line-height: 1.8;
}

.info {
  display: block;
  color: #686868;
  font-size: 12px;
  line-height: 1.8;
}

.info dl {
  margin: 0 0 10px;
}

.info dl dt {
  margin: 0 10px 0 0;
  color: #686868;
  display: inline-block;
  vertical-align: top;
}
.info dl dd {
  display: inline-block;
  vertical-align: top;
  color: #686868;
}

.sns {
  margin: 30px 0;
}

.sns ul {
  font-size: 0;
  line-height: 0;
  text-align: left;
}

.sns ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 6px;
  padding: 0px 0;
  text-align: center;
}

.sns ul li a i {
  font-size: 24px;
}

.sns ul li img {
  width: 24px;
}


/* 모바일 */

@media (max-width: 540px) {
  /* header */
  .header-content {
    z-index: 999;
    background: rgba(255, 255, 255, 0.85) !important;
  }

  .logo img {
    height: 16px;
  }
    /* footer */
    .FooterInner {
      display: none;
    }
  
    footer address {
      display: block;
    }
}